

<ion-content class="rece">
  
  <h4>Pantalon <ion-icon name="heart"></ion-icon></h4>
  <img src="../assets/Imagenes/pantalon 1.jpg" alt="">
  <h3><ion-icon name="heart"></ion-icon><ion-icon name="heart"></ion-icon><ion-icon name="heart"></ion-icon></h3>
  <ul>
    <li>$ 200.00mx</li>
    <li>Zara</li>
    <li>talla: 39</li>
    <li>XS</li>
    <li>Usada</li>
    <li>Mujer</li>
    <li>color verde</li>
    
    
  </ul>
  <h3>Comprar ahora</h3>
  <h3><ion-icon name="cart"></ion-icon></h3>
  
  
</ion-content>
