<ion-header [translucent]="true">
  
</ion-header>
<ion-content [fullscreen]="true">  
          <img  src="../assets/Imagenes/salmon ver.jpg">
          <ion-slides  [options]="slideOpts" >
            <ion-slide *ngFor="let imagen of imagen" >
              <ion-img [src]="imagen.url"  height="380" width="630"></ion-img>
            </ion-slide>
          </ion-slides>
          <ion-buttons class="center">
          <ion-card *ngFor="let imagen of imagen" button>
            <a href="dashboard/favorito"><ion-img [src]="imagen.url"></ion-img></a>
            <ion-card-content >
              <h5> {{imagen.String}}</h5>
             </ion-card-content>
           </ion-card>
          </ion-buttons>
</ion-content>
