<ion-header [translucent]="true">
  
</ion-header>
<ion-content [fullscreen]="true">  
            <img  src="../assets/Imagenes/salmon ver.jpg" class="img">       
          <ion-buttons class="center">
          <ion-card *ngFor="let imagen of imagen" button>
            <a href="dashboard/receta"><ion-img [src]="imagen.url" ></ion-img></a>
            <ion-card-content >
              {{imagen.String}}
             </ion-card-content>
           </ion-card>
          </ion-buttons>
</ion-content>
