.rece{
    text-align: center;
   top: 70px;
    
   
   
}
h2{
    font-weight: bolder;
}
.icon{
   align-items: center;
   text-align: center;
   font-size: 100px;
   color: blue;
}

ion-tab-button{
    font-size: 20px;
}
.form{
    align-items: center;

}
ion-buttons{
    align-items: center;
    background-color: #ffffff;
}
