<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="rece">

  <ion-list class="form"  *ngFor="let cuenta of cuenta">
    <h2>Cuenta</h2>

    <ion-icon name="person-circle-sharp" class="icon"></ion-icon>
    <li><h2>Usuario</h2></li>
    <li><h4>{{cuenta.usuario}}</h4></li>
    <li><h2>Correo electronico</h2></li>
    <li>{{cuenta.Correo}}</li>
    <li><h2>Subir Articulo</h2></li>
    <li>
      
        <ion-tab-button><ion-icon name="cloud-upload-outline"></ion-icon></ion-tab-button>
    
    </li>
  </ion-list>
</ion-content>
